[submodule "src/ambientweatherdata"]
	path = src/ambientweatherdata
	url = https://github.com/subnivean/ambientweatherdata.git
[submodule "src/cfsmartplug"]
	path = src/cfsmartplug
	url = https://github.com/subnivean/cfsmartplug.git
[submodule "src/heatpumpdata"]
	path = src/heatpumpdata
	url = https://github.com/subnivean/heatpumpdata.git
[submodule "src/gmailsend"]
	path = src/gmailsend
	url = https://github.com/subnivean/gmailsend.git
